body {
    background-color: var(--bg-color) ;

    margin: 0;
}

.background {
 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background-image: url("sunset.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

section.page {
    display: flex;
    margin: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div.centerpanel {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--font-color-sp);
    opacity: 0.8;
    width: 450px;
    height: 575px;
    font-size: 20px;
    font-family: Roboto;
    border-radius: 12px;
    border: 0;
    filter: drop-shadow( 0px 4px 10px #2b2b2ba6);

    
    margin: auto;
}

div.logos {
    flex: auto;
    margin: auto;
    text-align: center;
}

div.userForm {
    flex: auto;
    margin: auto;
}

div.actiontext {
    flex: auto;
}

div.logos img {
    margin-top: 37px;
    margin-bottom: 20px;
}

input {
    width: 350px;
    height: 30px;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:black;
    margin: 8px 0px;
    font-size: 18px;
    font-weight: lighter;
    background-color:rgba(0, 0, 0, 0);
    color: var(--font-color-sp);

}

div.inputelement + div.inputelement {
    margin: 28px 0px;
}

button.login {
    width: 100%;
    height: 49px;

    border-radius: 15px;
    border: 0px;
    background-color: #848BBD;
    color: var(--font-color-sp);
    font-weight: bold;
    font-size: 25px;
}

button.login:hover {
    background-color: #575C7D;
}

a.forgot:hover , a.create:hover {
    color: #4e4e4e;
}

div.forgot {
    text-align: right;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 23px;
    color: var(--font-color-sp);
}

a {
    color: var(--font-color-sp);
}