body {
    background-color: #C0DFF0 ;
}
div.centerpanel {
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.8;
    width: 450px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    font-size: 20px;
    font-family: Roboto;
    border-radius: 12px;
    border: 0;
    filter: drop-shadow( 0px 4px 10px #2b2b2ba6);
}

div.centerpanel a {
    color: black;
}

div.logos {
    flex: auto;
    margin: auto;
    text-align: center;
}

div.userForm {
    flex: auto;
    margin: auto;
}

div.actiontext {
    flex: auto;
}

div.logos img {
    margin-top: 37px;
    margin-bottom: 20px;
}

input {
    width: 350px;
    height: 30px;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black, 1px;
    margin: 8px 0px;
    font-size: 18px;
    font-weight: lighter;

}

div.inputelement + div.inputelement {
    margin: 28px 0px;
}

button.login {
    width: 100%;
    height: 49px;
    color: #848BBD;
    border-radius: 15px;
    background-color: #848BBD;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

button.login:hover {
    background-color: #575C7D;
}

a.forgot:hover , a.create:hover {
    color: #4e4e4e;
}

div.forgot {
    text-align: right;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 23px;
}
